## Data Collection

In this phase we will collect the customer ratings data from the airline quality website called [Skytrax](https://www.airlinequality.com/airline-reviews/british-airways). We will collect data about airline ratings, seat ratings and lounge experience ratings from this website.

In [1]:
# import required libraries

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests 
import os

In [2]:
#create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []

In [3]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 34
Error on page 35
Error on page 35

In [4]:
#check the length of total reviews extracted
len(reviews)

3500

In [5]:
len(country)

3500

In [8]:
#check the length 
stars = stars[:3500]

In [9]:
#create  a dataframe from these collected lists of data

df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [10]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | After an excellent flight ...,\n\t\t\t\t\t\t\t\t\t\t\t\t5,1st January 2025,United Kingdom
1,✅ Trip Verified | On a recent flight from Cy...,5,17th December 2024,United Kingdom
2,✅ Trip Verified | Flight BA 0560 arrived in ...,1,17th December 2024,Australia
3,✅ Trip Verified | This was the first time I ...,1,14th December 2024,United States
4,✅ Trip Verified | Pretty good flight but sti...,2,13th December 2024,United Kingdom

In [11]:
df.shape

(3500, 4)

### Export the data into a csv format

In [12]:
cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")